:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --font-color: #353430;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --menu-font-hover: rgb(53, 52, 48, 0.4);
  --menu-color: #353430;
  --decorated-color: #353430;
}

.theme-light .decorated-text {
  display: none;
}

.theme-light .decorated-text::before {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --font-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --menu-font-hover: rgb(53, 52, 48, 0.4);
    --menu-color: #353430;
    --decorated-color: #353430;
  }

  .decorated-text {
    display: none;
  }

  .decorated-text::before {
    display: none;
  }
}
