.page {
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: repeat(3, 1fr);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-family: var(--font-family);
  color: var(--font-color);
  font-weight: var(--font-weight);
}

.header__theme-menu-button {
  border: none;
  outline: none;
  text-transform: lowercase;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.header__theme-menu-button_active {
  border: 1px solid var(--font-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-font-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--font-color);
}

.decorated-zone {
  position: relative;
  padding: 10px;
}

.decorated-text {
  position: absolute;
  display: flex;
  justify-self: end;
  justify-content: start;
  align-items: end;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-top: 10px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  width: 71px;
}

.decorated-text::before {
  content: "";
  position: absolute;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  margin-bottom: 9px;
  margin-left: 43px;
  border-radius: 50%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25.04px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--decorated-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25.04px;
  height: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--decorated-color);
}

.title-block {
  display: flex;
  justify-content: start;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-title);
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-block-text {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-bottom: 4%;
}

.title-decor {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: var(--font-weight-title);
  background-color: var(--accent-color);
  color: var(--menu-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 0px 10px;
}

.block {
  display: grid;
  gap: 20px;
}

.card-name {
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-title);
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.card-text {
  padding-top: 10px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.card-context {
  display: grid;
  gap: 20px;
}

.link {
  outline: none;
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  text-decoration-color: var(--text-color);
  text-decoration-style: solid;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

.card-title {
  font-weight: var(--font-weight);
}

.accent-card-title {
  padding-bottom: 20px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.card-image {
  display: grid;
  gap: 10px;
}

.card-image-item img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  margin-top: 40px;
}

.footer-text {
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width >= 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: end;
    align-items: start;
    height: 50%;
    margin-top: auto;
    padding-top: 7px;
  }

  .header__theme-menu-button {
    padding-bottom: 10px;
  }

  .title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-block-text {
    align-items: end;
    width: 50%;
    height: 50%;
    margin-left: auto;
    padding-bottom: 0;
  }

  .main {
    gap: 80px;
    padding: 60px 20px 0 20px;
  }

  .block-row {
    grid-template-columns: 1fr 2fr;
  }

  .block-accent .card-name {
    width: 25%;
  }

  .block-row .block-context {
    grid-column: 2;
  }

  .card-context {
    display: grid;
    gap: 20px;
  }

  .gallery {
    gap: 20px;
  }

  .card-image {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-image-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .card-image-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .card-image-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  .card-image-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .card-image-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    margin-top: 60px;
  }

  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone {
    padding: 20px 20px;
  }

  .decorated-text {
    width: 81px;
    padding-top: 20px;
  }

  .decorated-zone::after {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .decorated-zone::before {
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
    align-items: start;
    margin-top: 0;
    padding-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .main {
    gap: 70px;
  }

  .title-block-text {
    margin-top: 7px;
  }

  .block {
    display: grid;
    gap: 10px;
  }

  .block-accent {
    gap: 20px;
  }

  .block-accent .card-name {
    width: 33%;
  }

  .card-context {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-text {
    padding-bottom: 10px;
  }

  .card-image {
    padding-bottom: 20px;
  }

  .footer {
    margin-top: 40px;
  }
}
